<li>
  <p>
    <%= link_to quiz.title, quiz %> |
    <%= link_to "edit", edit_quiz_path(quiz) %>
    <%= link_to "delete", quiz, method: :delete, data: { confirm: "You sure?" } %>
  </p>
  <p><%= quiz.description %></p>
</li>
