<li>
  <div class="title">
    <strong><%= link_to quiz.title, quiz %></strong>
    <% if logged_in? && quiz_owner?(quiz.id) %>
      <div class="tools">
        <p>
          <span class="glyphicon glyphicon-pencil"></span>
          <%= link_to "edit", edit_quiz_path(quiz) %>
        </p>
        <p>
          <span class="glyphicon glyphicon-remove"></span>
          <%= link_to "delete", quiz, method: :delete, data: { confirm: "You sure?" } %>
        </p>
      </div>
    <% end %>
  </div>
  <p class="description"><%= quiz.description %></p>
</li>
