<% provide(:title, 'All quizzes') %>
<h1>All quizzes</h1>

<% if logged_in? %>
  <p><%= link_to '<button type="button">Create Quiz</button>'.html_safe, new_quiz_path %></p>
  <p>&nbsp;</p>
<% end %>

<%= will_paginate %>

<ul class="quizzes">
  <%= render quizzes %>
</ul>

<%= will_paginate %>