<% provide(:title, 'All quizzes') %>
<h1>All quizzes</h1>

<p><%= link_to '<button type="button">Create Quiz</button>'.html_safe, new_quiz_path %></p>
<p>&nbsp;</p>

<%= will_paginate %>

<ul class="quizzes">
  <%= render @quizzes %>
</ul>

<%= will_paginate %>