<% provide(:title, quiz.title) %>
<p class="margin-top"><span class="glyphicon glyphicon-chevron-left"></span> <%= link_to "Back to Quizzes", quizzes_path %></p>

<h1><%= quiz.title %></h1>
<p><%= quiz.description %></p>
<hr class="separator" />

<% if quiz.questions %>
  <% quiz.questions.each do |question| %>
    <h2 class="question"><%= question.title %></h2>
    <div class="form-group">
      <label for="answer">Answer:</label>
      <input type="answer" class="form-control" id="answer" placeholder="Placeholder, add ruby form answer field here ...">
    </div>
  <% end %>
<% else %>
  <h2 class="question">No question available at this time.</h2>
<% end %>
