<% provide(:title, @quiz.title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
      <h1>
        <%= @quiz.title %>
      </h1>
      <p>
        <%= @quiz.description %>
      </p>
    </section>
  </aside>
</div>
