.question {
  text-align: left;
  font-size: 2em;
  color: #428bca;
}

.question-fields {
  margin-bottom: 1.5em;
  padding: 1em;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;

  > select {
    margin-left: 1em;
    width: auto;
  }

  .answer-fields {
    display: flex;

    > a {
      position: absolute;
      right: 3em;
      margin-top: 0.6em;
    }

    input[type="checkbox"] {
      width: auto;
      margin: 0 1em 0 0;
    }
  }
}

.answer {
  .selected {
    color: #5cb85c;
  }
}