.question {
  text-align: left;
  font-size: 2em;
  color: #428bca;
}

.question-fields {
  margin-bottom: 1.5em;
  padding: 1em;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;

  .check-box {
    width: auto;
    float: left;
    margin-right: 1em;
  }

  > select {
    margin-left: 1em;
    width: auto;
  }

  .answer-fields {
    > a {
      position: absolute;
      right: 3em;
      margin-top: -3.1em;
    }
  }
}