<% provide(:title, "Create Quiz") %>
<p class="margin-top"><span class="glyphicon glyphicon-chevron-left"></span> <%= link_to "Back to Quizzes", quizzes_path, title: "Back to Quizzes", alt: "Back to Quizzes" %></p>

<h1>Quiz title</h1>
<h2>Quiz description</h2>
<p>Placeholder for form which will contain questions and fields to answer for this attempt id.</p>