<footer>
  <small>
    The Quiz Maker by the Awesome Ruzuku Team!</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://blog.ruzuku.com/authentic-expert/" target="_blank">Blog</a></li>
    </ul>
  </nav>
</footer>